@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Elementos base*/

body{
  background-color: rgb(15, 17, 19);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}



body{
    color: #FFFFFF;

}


.nav-color{
    background-color: #000000;
}
.navbar-nav .nav-link {
  font-family: "Noto Serif", serif;
  font-size: larger;
  font-weight: 600;
  color: rgb(255, 255, 255);            
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  
  background-color: #F8BBD0;
  border-radius: 10px;
  color: rgb(0, 0, 0);  
  transition: color 0.3s;   
  box-shadow: 0 3px 8px #010101a4;
  text-decoration: dotted;
}

.name-header{
font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


#inicio{
    background: linear-gradient(75deg, #000000,#F8BBD0);
    background-size: cover;
    height: 100vh;              
    display: flex;
    color: #FFFFFF;
}
.main-content{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    width: 100%;
    
}
.div-main-content{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
}
.title-main{
  color: #FFFFFF;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 100px;
  text-shadow: 0 3px 8px #000000a4;

}

#sobre ,#categorias ,#bolos-personalizados , #tortas{
  background-color: #000000;
}

#botao-principal{
    font-family: "Noto Serif", serif;
    font-size: larger;
    font-weight: 600;
    background-color: #00000059;
    box-shadow: 0 3px 8px #F8BBD0;
    padding: 15px;
}

#botao-principal:hover{
    background-color: #F8BBD0;


}


#linha-branca-animada {
  border: 0;
  height: 3px; 
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  animation: move-gradient 2s linear infinite;
  margin: 0;
  width: 80%;
}

@keyframes move-gradient {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}



#img-cleide{
  filter: grayscale(20%) brightness(95%) saturate(110%);
  transition: filter 0.3s ease;;
}

#img-cleide:hover{
    filter: grayscale(0%) brightness(100%) saturate(120%);
}


.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #15a619;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  
  /* Pulsar */
  animation: pulse 2s infinite;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.2);
}

/* Animação de pulso */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

.btn-categoria{
  background-color: #F8BBD0;
}

.text-categoria{
  color: #F8BBD0;
}


.title-sobre{
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0 3px 8px #000000a4;


}

.card-title{
  font-family: "Noto Serif", serif;
  font-weight: 700;
}



.container-footer{
  display: flex;
  justify-content: center;
}

.tittle-footer a{
  font-weight: 800;
  text-decoration: none;
  color: var(--vermelho);
}
.tittle-footer a:hover{
  color: #AAA;
}



